### Diretórios de compilação e dependências ###
# Maven
/target/
# Gradle
/build/

### Arquivos e diretórios de IDEs ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
# Eclipse
.classpath
.project
.settings/
# VS Code
.vscode/
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Arquivos gerados automaticamente ###
# Logs
*.log
# Arquivos de configurações de ambiente
# (Exemplo: para não versionar dados sensíveis)
!application.properties.example
application.properties